.vercel
.env*.local
node_modules/
.next/
.DS_Store
eagle-method/The MOST Efficient Method to Memorize Bible Verses \[V6cLQVFQN7o].mp4
eagle-method/The MOST Efficient Method to Memorize Bible Verses \[V6cLQVFQN7o].opus
